* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(62, 42, 42); 
    color: rgb(64, 71, 72); 
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-image: linear-gradient(135deg, rgb(178, 227, 180) 50%, rgb(190, 230, 147) 50%); 
}

.klasse {
    background-color: rgb(226, 237, 226); 
    padding: 30px; 
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    
}

.klasse:hover {
    transform: scale(1.04); 
}

h1 {
    font-size: x-large; 
    margin-bottom: 20px;
    color: black;

    display: inline-block;
    
    padding-top: 10px;
}

.SmaTekst {
    font-size: medium;
    margin-bottom: 1px;
    color: rgb(41, 73, 73);
    text-align: justify; /* Justere teksten for bedre layout */
}

p {
    font-size: medium;
    margin-bottom: 15px;
    color: rgb(41, 73, 73);
    text-align: justify; /* Justere teksten for bedre layout */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 2px solid rgb(236, 248, 171); 
}

.klasse p {
    padding: 0 20px;
}
