body {
    background: linear-gradient(to right, #000, #333);
    color: white;
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    text-shadow: 1px 1px 3px #fff;
}

h2 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.text-section p {
    font-size: 24px;
    line-height: 1.5;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

.hero {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
}

.text-section {
    width: 50%;
    padding-right: 20px;
}

.image-section {
    width: 50%;
}

.profile-image {
    max-width: 300px;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    transition: opacity 0.5s ease, border-color 0.5s ease;
}

.profile-image:hover {
    opacity: 1;
    border-color: white;
}

#skills {
    padding: 50px 0;
    text-align: center;
}

#skills h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.skills-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.skills-list li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.skills-list li:hover {
    background-color: #555;
}

footer {
    background-color: black; 
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
        align-items: center;
    }

    .text-section, .image-section {
        width: 80%; 
        padding-right: 0; 
    }
}
