* {
	margin: 0;
	padding: 0;
}

body {
}

.logo {
	width: 200px;
	height: auto;
}

nav {
	background-color: rgb(6, 43, 23);

	display: flex;
	justify-content: space-between;
	padding: 5px 20px 5px 20px;
	height: 80px;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 4px;
}

nav ul li a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: white;
	transition: all 0.3s ease-out;
	transform: translateX(-50%);
}

/* Hover effect - line grows from the center to both sides */
nav ul li a:hover::after {
	width: 100%;
}

.hjem-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
		url("./bilder/headerbilde-naturen.jpg");
	height: 500px;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	gap: 20px;
}

.hjem-header-tittel {
	font-size: 6em;
	font-weight: lighter;
	color: white;
}

.hjem-header-undertittel {
	width: 600px;
	color: white;
	text-align: center;
}

.hjem-header-knapp {
	display: inline-block;
	padding: 20px 50px 20px 50px;
	font-size: 16px;
	color: white;
	background-color: #419b49;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.hjem-header-knapp:hover {
	background-color: #093011;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transform: scale(1.05);
}

.hjem-header-knapp::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300%;
	height: 300%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.5s ease;
}

@media screen and (max-width: 1100px) {
	nav ul {
		display: none;
	}
}
