.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.parent img {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item a {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.icons a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
}

.icons a:hover {
    color: black;
    transform: translateY(-5px);
}

.scrolling {
    transform: translateY(-50%) translateY(-50px);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all 0.5s ease;
    text-decoration: none;
    
}

.icons i:hover{
    color: white;
    transform: translateY(-5px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color:black;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

ul li a:hover {
    color: black;
    transform: translateY(-5px);
}

header {
    background-image: url("https://www.hvl.no/contentassets/c2e09101a97b4341b686f818b5ed69f1/kronstad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-PDaZ9CdPU5SAbpn71vuDld4IfYKVc0BCXw&s");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-image: url("https://www.hvl.no/contentassets/c2e09101a97b4341b686f818b5ed69f1/kronstad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    height: 400px;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
